@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #0a192f;
  color: #8892b0;
  counter-reset: item item-title;
  overflow-x: hidden;
}

body a {
  color: #64ffda;
  text-decoration: none;
}

header,
main,
nav,
section,
footer {
  display: block;
}

.show {
  display: block;
}

.hide {
  display: none;
}

section {
  margin: 0px auto;
  padding: 0px;
  max-width: 1000px;
  min-height: 100vh;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px 0px 10px;
  font-weight: 600;
  color: #8892b0;
  line-height: 1.1;
}

.button {
  display: block;
  width: 100%;
  min-width: 50px;
  max-width: 100px;
  border: 1px solid #64ffda;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

.button:hover {
  background-color: rgba(100, 255, 218, 0.1);
}

.title {
  color: #f0f8ff;
}

.title-numbered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: clamp(18px, 2vw, 36px);
  white-space: nowrap;
}

.title-numbered::before {
  position: relative;
  bottom: 0;
  counter-increment: item-title;
  content: "0" counter(item-title) ".";
  margin-right: 10px;
  color: #64ffda;
  font-family: monospace, monospace;
  font-size: clamp(18px, 2vw, 36px);
  font-weight: 400;
}

.title-numbered::after {
  content: "";
  display: block;
  position: relative;
  top: 0;
  width: 240px;
  height: 1px;
  margin-left: 20px;
  background-color: #8892b0;
}

.list-type-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  font-size: smaller;
}

.list-type-arrow .arrow-item {
  width: 50%;
}

.list-type-arrow .arrow-item::before {
  content: "ᐅ";
  color: #64ffda;
  margin-right: 20px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header_logo {
  font-weight: bold;
  font-size: 2rem;
  max-width: 320px;
  width: 100%;
  text-align: center;
}

.header .logo-item {
  color: #f0f8ff;
}

.header .logo-item::after {
  content: "/>";
  color: #8892b0;
}

.header .logo-item::before {
  content: "<";
  color: #8892b0;
}

.header_menu {
  width: 100%;
}

.header_menu_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header_menu_item {
  text-decoration: none;
  margin: 10px 0 0 0;
  color: #8892b0;
}

.header_menu_item:hover {
  color: #64ffda;
}

.header_menu_item::before {
  counter-increment: item;
  content: "0" counter(item) ".";
  margin-right: 5px;
  text-align: right;
  color: #64ffda;
}

.header_dowload-cv {
  max-width: 320px;
  width: 100%;
  text-align: center;
}

#hello .big_header {
  font-size: clamp(40px, 7vw, 80px);
}

#hello .mid_header {
  font-size: clamp(40px, 5vw, 80px);
}

#hello .my_name {
  color: #f0f8ff;
}

#hello .greeting {
  color: #64ffda;
  padding-bottom: 30px;
  font-family: monospace, monospace;
}

#hello .who {
  margin: 30px 0 0 0;
  max-width: 460px;
}

#about .about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about .about-photo {
  max-width: 320px;
  margin-top: 22px;
  border-radius: 5px;
}

#about .about-photo-item {
  width: 100%;
  border: 1px solid #64ffda;
  border-radius: 5px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 1s;
  transition: 1s;
}

#about .about-photo-item:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

#experience .experience-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#experience .experience-tablist {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#experience .experience-jobs {
  width: 60%;
}
/*# sourceMappingURL=main.css.map */