@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");
$color_navy: #0a192f;
$color-grey: #8892b0;
$color-green: #64ffda;
$color-blue_light: #f0f8ff;
$color-green_tint: rgba(100, 255, 218, 0.1);

$font-mono: monospace, monospace;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: $color_navy;
  color: $color-grey;
  counter-reset: item item-title;
  overflow-x: hidden;
  a {
    color: $color-green;
    text-decoration: none;
  }
}

header,
main,
nav,
section,
footer {
  display: block;
}
.show {
  display: block;
}
.hide {
  display: none;
}

section {
  margin: 0px auto;
  padding: 0px;
  max-width: 1000px;
  min-height: 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px 0px 10px;
  font-weight: 600;
  color: $color-grey;
  line-height: 1.1;
}

.button {
  display: block;
  width: 100%;
  min-width: 50px;
  max-width: 100px;
  border: 1px solid $color-green;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  &:hover {
    background-color: $color-green_tint;
  }
}

.title {
  color: $color-blue_light;
  &-numbered {
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: clamp(18px, 2vw, 36px);
    white-space: nowrap;
    &::before {
      position: relative;
      bottom: 0;
      counter-increment: item-title;
      content: "0" counter(item-title) ".";
      margin-right: 10px;
      color: $color-green;
      font-family: $font-mono;
      font-size: clamp(18px, 2vw, 36px);
      font-weight: 400;
    }
    &::after {
      content: "";
      display: block;
      position: relative;
      top: 0;
      width: 240px;
      height: 1px;
      margin-left: 20px;
      background-color: $color-grey;
    }
  }
}

.list-type {
  &-arrow {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-size: smaller;
    .arrow-item {
      width: 50%;
      &::before {
        content: "á…";
        color: $color-green;
        margin-right: 20px;
        &_link {
        }
      }
    }
  }
}

.header {
  display: flex;
  padding: 20px 0;
  justify-content: space-around;
  &_logo {
    font-weight: bold;
    font-size: 2rem;
    max-width: 320px;
    width: 100%;
    text-align: center;
  }
  .logo {
    &-item {
      color: $color-blue_light;
      &::after {
        content: "/>";
        color: $color-grey;
      }
      &::before {
        content: "<";
        color: $color-grey;
      }
    }
  }
  &_menu {
    width: 100%;
    &_wrapper {
      display: flex;
      justify-content: space-around;
    }
    &_item {
      text-decoration: none;
      margin: 10px 0 0 0;
      color: $color-grey;
      &:hover {
        color: $color-green;
      }
      &::before {
        counter-increment: item;
        content: "0" counter(item) ".";
        margin-right: 5px;
        text-align: right;
        color: $color-green;
      }
    }
  }
  &_dowload-cv {
    max-width: 320px;
    width: 100%;
    text-align: center;
  }
}

#hello {
  .big_header {
    font-size: clamp(40px, 7vw, 80px);
  }
  .mid_header {
    font-size: clamp(40px, 5vw, 80px);
  }
  .my_name {
    color: $color-blue_light;
  }
  .greeting {
    color: $color-green;
    padding-bottom: 30px;
    font-family: $font-mono;
  }
  .who {
    margin: 30px 0 0 0;
    max-width: 460px;
  }
}

#about {
  .about {
    &-wrapper {
      display: flex;
    }
    &-text {
    }

    &-photo {
      max-width: 320px;
      margin-top: 22px;
      border-radius: 5px;
      &-item {
        width: 100%;
        border: 1px solid $color-green;
        border-radius: 5px;
        filter: grayscale(100%);
        transition: 1s;
        &:hover {
          filter: grayscale(0);
        }
      }
    }
  }
}

#experience {
  .experience {
    &-wrapper {
      display: flex;
    }
    &-tablist {
      display: flex;
      flex-direction: column;
    }
    &-jobs {
    }
  }
}
